#app * {
    font-family: "Nanum Barun Gothic", sans-serif;
    line-height: 1;
    margin-bottom: 0;
}

#app article {
    margin-bottom: 100px;
}

#app section:last-child {
    margin-bottom: 0;
}

#app .ib-color-light {
    color: rgba(128, 128, 128, 255);
}

#app .ib-color-red {
    color: rgba(255, 25, 85, 255);
}
/* font */
#app .ib-font-xl {
    font-size: 60px;
}

#app .ib-font-lg {
    font-size: 29px;
}

#app .ib-font-sm {
    font-size: 17px;
}

#app .ib-font-xs {
    font-size: 11px;
}

/* table */
#app table.ib-table {
    font-size: 19.3px;
    border-right: solid 2px #f7f8fd;
    border-bottom: solid 2px #f7f8fd;
}

#app table.ib-table td,
#app table.ib-table th {
    vertical-align: middle;
    min-height: 40px;
    padding: 15px 10px;
    font-weight: normal;
}

#app table.ib-table td {
    border: solid 2px #f7f8fd;
}

#app table.ib-table td:first-child {
    background-color: #f7f8fd;
    border-bottom: solid 2px #fff;
}

#app table.ib-table tr:last-of-type > td {
    border-bottom: none;
}

#app table.ib-table th {
    background-color: #f7f8fd;
    border: solid 2px #fff;
}

#app table.ib-table th:last-of-type {
    border-right: solid 2px #f7f8fd;
}

#app table.ib-table.fixed-width td,
#app table.ib-table.fixed-width th {
    width: 250px;
}

#app .chart-container {
    background-color: #f7f8fd;
}

#app .ib-title-container {
    margin-bottom: 40px;
}

#app .ib-title-container > h3 {
    margin-right: 6px;
}

#app .ib-log-container > h3 {
    margin-right: 34px;
}

#app .ib-log-container {
    margin-bottom: 24px;
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

/* section 1 */
#article1 .gb-container {
    margin-top: 20px;
}

#article1 .gb-container > div:first-child {
    margin-right: 60px;
}

#article1 .gb-container > div > span:first-child {
    margin-right: 16px;
}

#article1 .ib-data-container > table {
    margin-right: 18px;
}

#article1 .chart-container {
    padding-right: 40px;
    padding-top: 5px;
}

/* section 2 */
#article2 > section > .ib-table-container {
    margin-bottom: 60px;
}

#article2 .chart-container {
    padding-left: 36px;
}

#article2 > section:nth-of-type(2) table {
    margin-right: 18px;
    width: 520px;
}

#article2 > section:nth-of-type(2) table td:first-child,
#article2 > section:nth-of-type(2) table th:first-child {
    width: 90px;
}

#article2 > section:nth-of-type(2) table td:nth-child(2),
#article2 > section:nth-of-type(2) table th:nth-child(2) {
    width: 375px;
}

#article2 > section:nth-of-type(2) table td:last-child,
#article2 > section:nth-of-type(2) table th:last-child {
    width: 115px;
}

/* pie chart */

#article2 #legend {
    width: 180px;
    margin-right: 36px;
    margin-left: 20px;
}

#article2 #legend ul {
    list-style: none;
    font-size: 13px;
    padding: 0;
}

#article2 #legend ul > li {
    margin-bottom: 10px;
}

#article2 #legend .legend-color-container {
    margin-right: 10px;
}

#article2 #legend .legend-color-container > span {
    width: 13px;
    height: 13px;
    display: inline-block;
}

#article2 #legend li > div > span:first-of-type {
    max-width: 110px;
    white-space: normal;
    line-height: 1.4;
}

#article2 #legend li > div > span:last-of-type {
    color: #a8a7a7;
}
